*.aux
*.bbl
*.blg
*.dvi
*.ent
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.kate-swp
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.pgf-plot.*
*.ps
*.snm
*.sty.backup
*.synctex.gz
*.tdo
*.tex.backup
*.toc
*.vrb
*.pyc
*~
.DS_Store
vol1.pdf
vol1-pics.pdf
content/LIITE_vastaukset.tex
revision.tex
kuva-tmp-*
